<!-- 导航栏 -->
<div class="header">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="col-md-9 col-md-offset-2">
                <div class="navbar-header">
                  <a class="navbar-brand" href="/">花卿的博客</a>
                </div>
                <form class="navbar-form navbar-right" method="get" action="{% url 'search_url' %}">
                    <div class="form-group">
                        <input type="text" class="form-control" name="title" placeholder="搜索博文">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
            </div>
        </div>
    </nav>
</div>