{% extends 'base.html' %}
{% load myfilter %}
{% block content %}
    <!-- 主体内容-->
    <div class="container main">
    <div class="row">
        <div class="col-md-9">
            <div class="post col-md-offset-2">
                <article>
                    <h1>{{ post.title }}</h1>
                    <div class="header">
                        {{ post.created_time|date }}&nbsp;字数{{ post.body|GetWordNums }}&nbsp;阅读{{ post.views }}
                    </div>
                    <div style="font-size: 16px" href="post-body">
                       {{ post.body|safe|linebreaks }}
                    </div>
                    <div class="foot">
                        <span class="text">标签:</span>
                        {% for tag in tags %}
                        <span class="label label-danger">{{ tag }}</span>
                        {% endfor %}
                    </div>

                </article>
            </div>
        </div>
        <div class="col-md-3 visible-lg">
           <ul>
               <li>导航</li>
           </ul>
        </div>
    </div>
    </div>
{% endblock %}