{% extends 'base.html' %}
{% load myfilter %}
{% block content %}
    <!-- 主体内容-->
    <div class="container main">
    <div class="row">
        <div class="col-md-9">
            <div class="post col-md-offset-2">
                <article>
                    <h1>{{ post.title }}</h1>
                    <div class="header">
                        {{ post.created_time|timesince }}&nbsp;&nbsp;字数{{ post.body|GetWordNums }}&nbsp;&nbsp;阅读{{ post.views }}
                    </div>
                    <div style="font-size: 16px" class="post-body">
                       {{ post.body|safe|linebreaks }}
                    </div>
                    <div class="foot">
                        <span class="text">标签:</span>
                        {% for tag in tags %}
                        <span class="label label-danger">{{ tag }}</span>
                        {% endfor %}
                    </div>

                </article>
            <ul class="pager">
                {% if post_top_back.has_previous %}
                    <li class="previous">
                    <a href="{% url 'myblog:post_url' post_top_back.previous_page_number %}">
                        <span aria-hidden="true">&laquo;</span> {{ post.id|Get_Previous_Title}}</a>
                    </li>
                {% endif %}
                {% if post_top_back.has_next %}
                    <li class="next">
                    <a href="{% url 'myblog:post_url' post_top_back.next_page_number %}">
                        {{ post.id|Get_Next_Title }}<span aria-hidden="true">&raquo;</span> </a>
                    </li>
                {% endif %}
            </ul>
            </div>
        </div>
        <div class="col-md-3 visible-lg">
            <h3>目录</h3>
           <ul>
               {% for content in contents %}
                    <li><a href="#{{ content }}" style="color: #0f0f0f">{{ content }}</a></li>
                   {% empty %}
                   <li>无法获取目录！</li>
               {% endfor %}
           </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 ">
            <div class="col-md-offset-2">
            <div class="panel panel-body">
                <h3>{{ comment_list.count }}条评论</h3>
            </div>
        </div>
        </div>
    </div>
    <div class="row">
        <form action="{% url 'comments:post_comment' post.id %}" method="post" class="comment-form">
            {% csrf_token %}
          <div class="col-md-9">
              <div class="col-md-offset-2">
                    <div class="panel panel-body">
                    <div class="col-md-6">
                  <label for="{{ form.name.id_for_label }}">名字：</label>
                  {{ form.name }}
                    </div>
                    <div class="col-md-6">
                      <label for="{{ form.email.id_for_label }}">邮箱：</label>
                      {{ form.email }}
                    </div>
                    </div>
              </div>
            <div class="col-md-offset-2">
                <div class="panel panel-body">
                    <div class="col-md-12">
                      <label for="{{ form.text.id_for_label }}">评论：</label>
                      {{ form.text }}
                      <button type="submit" class="btn btn-default">发表</button>
                    </div>
                </div>
            </div>
          </div>
        </form>
    </div>
    <div class="row col-md-9 ">
        <div class="col-md-offset-2">
        <div class="comment-list">
            {% for comment in comment_list %}
                <div class="panel">
                <div class="panel-heading">
                <span>{{ comment.name }}</span>
                </div>
                <div class="panel-body">
                  {{ comment.text|linebreaksbr }}
                </div>
                <div class="panel-body">
                    <p >{{ comment.created_time|timesince }}</p>
                </div>
                </div>
              {% empty %}
                <div class="panel-body">
              暂无评论
                </div>
              {% endfor %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}