{% extends 'base.html' %}
{% block content %}
    <!-- 主体内容-->
    <div class="container main">
        <div class="row">
            <div class="col-md-9">
                <div class="col-md-offset-2">
                <article class="post post-0">
                    <h1>{{ sort.name}}</h1>
                </article>
                {% for post in posts %}
                    <article class="post post-{{ post.id }}">
                    <div class="panel panel-body" style="padding-left: 0px;">
                        <div class="title">
                            <h2><a href="{% url 'post_url' post.id %}">{{ post.title }}</a></h2>
                        </div>
                        <div class="summary ">
                            <p>{{ post.body|truncatechars:54   }}</p>
                        </div>
                        <div class="sort" >
                            <span class="label label-danger" >{{ post.sort }}</span>
                        </div>
                    </div>
                </article>
                {% empty %}
                    <article class="post post-0">
                    <div class="panel panel-body" style="padding-left: 0px;">
                        <div class="errors">
                        <h1> 内容还在书写中......</h1>
                        </div>
                    </div>
                    </article>
                {% endfor %}
                </div>
            </div>
            <div class="col-md-3 visible-lg" >
                <h3>推荐阅读</h3>
                <ul class="list-unstyled" style="font-size: 15px" >
                    {% for re in recommend %}
                            <li><a href="{% url 'post_url' re.id %}">{{ re }}</a> </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}