{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="col-md-offset-2">
                <article class="post post-0">
                    <h1>{{ posts.first.sort}}</h1>
                </article>
                {% for post in posts %}
                    <article class="post post-{{ post.id }}">
                    <div class="panel panel-body" style="padding-left: 0px;">
                        <div class="title">
                            <h2><a href="{% url 'post_url' post.id %}">{{ post.title }}</a></h2>
                        </div>
                        <div class="summary ">
                            <p>{{ post.body|truncatechars:54   }}</p>
                        </div>
                        <div class="sort" >
                            <span class="label label-danger" >{{ post.sort }}</span>
                            <span class="label label-success">{{ post.author }}创建于{{ post.created_time|date }}</span>
                        </div>
                    </div>
                </article>
                {% empty %}
                    <article class="post post-0">
                    <div class="panel panel-body" style="padding-left: 0px;">
                        <div class="errors">
                        <h1> 内容还在书写中......</h1>
                        </div>
                    </div>
                    </article>
                {% endfor %}
                </div>
            </div>
            <div class="col-md-3 visible-lg">
           <ul>
               <li>导航</li>
           </ul>
        </div>
        </div>

    </div>



{% endblock %}