{% extends 'base.html' %}
{% load myfilter %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="col-md-offset-2">
                    <div class="list-group">
                        <div class="list-group-item">
                            <h2 class="text-center">修改密码</h2>
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }} text-centeralert-dismissible" role="alert">
                                        {{ message }}
                                     <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    </div>
                                {% endfor %}
                            <form  action="{% url 'users:changpassword_url' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="form-group">
                                        {{ field.label_tag }}
                                        {{ field }}
                                    </div>
                                    {{ field.errors }}
                                    {% if field.help_text %}
                                        {{ field.help_text|safe }}
                                    {% endif %}
                                {% endfor %}
                                <button type="submit" class="btn btn-primary btn-block">修改</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="list-group">
                    <a class="list-group-item " href="{% url 'users:information_url' %}">个人资料</a>
                    <a class="list-group-item " href="{% url 'users:changpassword_url' %}">修改密码</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
