{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
            <div class="col-md-offset-2">
                <h2 class="text-center">注册</h2>
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} text-centeralert-dismissible" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                {% endfor %}
                <form  action="{% url 'users:register_url' %}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field.label_tag }}
                         <div class="form-group">
                        {{ field }}
                        </div>
                        {{ field.errors }}
                        {% if field.help_text %}
                            <p>{{ field.help_text|safe }}</p>
                        {% endif %}
                    {% endfor %}
                    <button type="submit" class="btn btn-primary btn-block">注册</button>
                </form>
                <div class="form-group">
                    <a href="{% url 'users:login_url' %}">已有账号登录</a>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
